#first
{
    color: #ff0000;
    background-color: #000;
}

#second
{
    color: #0f0;
    background-color: #fff;
}
#third
{
    color: #00f;
    background-color: #ce7999;
}
#fourth
{
color: #c4c40d;
background-color: rgb(169, 51, 71);
} 

body
{
    
}